image: node:latest

# This folder is cached between builds
cache:
  paths:
    - node_modules/

pages:
  script:
    - npm install
    - npm run patch-package
    - ./node_modules/.bin/gatsby build --prefix-paths
  artifacts:
    paths:
      - public
  only:
    - master